<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<section layout:fragment="content">
    <div class="main-header">
        <h2 class="title">Add new Employee</h2>
    </div>
    <th:block th:if="${message}">
        <div th:text="${message}" class="alert alert-success" role="alert">
        </div>
    </th:block>
    <form th:object="${employee}" th:action="@{/create}" method="post">
        <div class="form-group">
            <div  th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                <div th:each="error : ${#fields.errors()}" th:text="${error}"></div>
            </div>
            <label>Name: </label>
            <input name="name" type="text" class="form-control">
            <label>Gender: </label>
            <select class="form-control" th:field="*{gender}">
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
            <label>Birthday: </label>
            <input type="date" th:field="*{birthday}" name="birthday" class="form-control">
            <label>Phone Number:</label>
            <input type="text" name="phone" class="form-control">
            <label>ID Card Number:</label>
            <input type="text" name="idCard" th:field="*{idCard}" class="form-control">
            <label>Email:</label>
            <input type="text" name="email" class="form-control">
            <label>Address: </label>
            <input type="text" name="address" class="form-control">
            <label>Group: </label>
            <select class="form-control" th:field="*{group}">
                <option th:each="group:${groups}" th:value="${group.id}" th:text="${group.groupName}"></option>
            </select>

            <button type="submit" class="btn-success">Add</button>
        </div>
    </form>
</section>

</body>
</html>